[submodule "api"]
	path = api
	url = https://github.com/joshcaron/PrereqMe-API.git
[submodule "db"]
	path = db
	url = https://github.com/joshcaron/PrereqMe-Scrapers.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/joshcaron/PrereqMe-Frontend.git
