.department-list {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	padding-left: 0;
	list-style-type: none;
	font-size: 2rem;
}

.department-list li {
	margin-bottom: 1rem;
}

.course-list {
	padding-left: 0;
	list-style-type: none;
	font-size: 2rem;
}

.course-list li {
	margin-bottom: 1rem;
}

p {
	font-size: 2rem;
}